---
import Layout from "@/layouts/Layout.astro";
import AppFooter from "@/components/AppFooter.astro";
import introData from "@/data/intro.json";
---

<Layout>
  <div class="flex flex-col justify-center h-full px-5 lg:px-0">
    <div class="flex flex-col gap-4 flex-grow justify-center">
      <h2 class="text-sm">{introData.subtitle}</h2>
      <h1 class="text-7xl">{introData.title}</h1>
      <div class="2xl:max-w-[70%] xl:max-w-[80%] lg:max-w-[90%]" style="color: var(--color-text-muted)">
        <Fragment set:html={introData.description} />
      </div>
      <div>
        <a href={introData.action_url} class="cursor-after-effect">
          {introData.action_text}
        </a>
      </div>
    </div>

    <AppFooter />
  </div>
</Layout>
