---
import Layout from "@/layouts/Layout.astro";
import ProjectItem from "@/components/ProjectItem.astro";
import AppFooter from "@/components/AppFooter.astro";
import { getCollection } from "astro:content";

const categories = await getCollection("categories", ({ data }) => {
  return data.is_project_category === true;
});

const projects = await getCollection("projects");

const projectsByCategory = categories.map((cat) => {
  return {
    title: cat.data.title,
    projects: projects.filter((proj) => proj.data.categories.includes(cat.id)),
  };
}).filter((group) => group.projects.length > 0);
---

<Layout title="Projects">
  <div class="px-5 lg:px-0">
    <div class="pt-10 py-15">
      <h1 class="text-5xl">
        <span style="color: var(--color-text-muted)" class="animate-pulse">&gt;</span><span
          >Projects</span
        >
      </h1>
      <h2 class="mt-3 xl:max-w-[70%]" style="color: var(--color-text-muted)">
        From learning experiments to professional tools—each project tells part
        of my development story.
      </h2>
    </div>

    <!-- listing -->
    <div class="flex flex-col gap-10 pb-10">
      {
        projectsByCategory.map((category) => {
          return (
            <div>
              <h2 class="text-2xl">{category.title}</h2>
              <div class="grid grid-cols-1 xl:grid-cols-3 lg:gap-8 gap-4 mt-2">
                {category.projects.map((project) => {
                  return (
                    <ProjectItem
                      name={project.data.title}
                      image={project.data.mainImage}
                      description={project.data.description}
                      url={project.data.url}
                      categories={project.data.categories.map((c) => ({ title: c }))}
                    />
                  );
                })}
              </div>
            </div>
          );
        })
      }
    </div>
    <AppFooter />
  </div>
</Layout>
