---
import "@/assets/global.css";
import AppHeader from "@/components/AppHeader.astro";
import { sanityClient } from "sanity:client";
import type { SanityDocument } from "@sanity/client";
import { ClientRouter } from "astro:transitions";

const LINKS_QUERY = `
*[_type == "link" && featured_contact_link == true] {
  _id,
  title,
  slug,
  url
}
`;

const contactLinks = await sanityClient.fetch<SanityDocument[]>(LINKS_QUERY);

const navigationLinks = [
  {
    title: "~",
    url: "/",
  },

  {
    title: "Projects",
    url: "/projects",
  },

  {
    title: "Blog",
    url: "/blog",
  },

  {
    title: "WDYPLP?",
    url: "/why-does-your-portfolio-look-plain",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Mozilla+Text:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>Rubbie Kelvin</title>
    <ClientRouter />
    <script>
      document.addEventListener("astro:page-load", () => {
        window.scrollTo(0, 0);
      });
    </script>
  </head>

  <body class="h-full flex flex-col max-h-full">
    <!-- Header -->
    <div class="flex-row flex">
      <div class="flex-[20%] hidden lg:block"></div>
      <AppHeader className="flex-[60%] px-5 lg:px-0" />
      <div class="flex-[20%] hidden lg:block"></div>
    </div>
    <!-- Main Content -->
    <div
      class="flex-grow flex h-0 overflow-y-auto flex-col lg:flex-row-reverse"
    >
      <!-- Navigation Links -->
      <div
        class="lg:flex-[20%] flex lg:flex-col gap-4 items-center justify-around lg:justify-center sticky top-0 px-5 py-2 lg:p-0 bg-white z-10"
      >
        {
          navigationLinks.map((link, index) => (
            <div class="lg:w-1/2">
              <a class="cursor-underline-effect" href={link.url}>
                <span class="hidden lg:inline">0{index + 1}.</span>
                <span>{link.title}</span>
              </a>
            </div>
          ))
        }
      </div>
      <div class="lg:flex-[60%] flex-grow">
        <slot />
      </div>
      <!-- Contact Links -->
      <div
        class="lg:flex-[20%] flex lg:flex-col gap-4 items-center justify-center lg:sticky top-0 px-5 py-2 lg:p-0"
      >
        {
          contactLinks.map((link) => (
            <div class="w-1/2">
              <a class="cursor-underline-effect" href={link.url}>
                <span>{link.title}</span>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </body>
</html>
